<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="findUserById" parameterType="int" resultType="com.ikook.mybatis.po.User">
        SELECT * FROM USER WHERE id=#{id}
    </select>


    <select id="findUserByUsername" parameterType="java.lang.String"
            resultType="com.ikook.mybatis.po.User">
        SELECT * FROM USER WHERE username LIKE '%${value}%'
    </select>

    <insert id="insertUser" parameterType="com.ikook.mybatis.po.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO USER (username, password, gender, birthday,email, province, city)
        value(#{username},#{password},#{gender},#{birthday,jdbcType=DATE},
        #{email},#{province},#{city})
    </insert>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>

    <!-- 修改用户 -->
    <update id="updateUserName" parameterType="com.ikook.mybatis.po.User">
        update user set username=#{username} where id=#{id}
    </update>

    <select id="findUserList" parameterType="com.ikook.mybatis.po.UserQueryInfo"
            resultType="com.ikook.mybatis.po.UserInstance">
        select * from user where user.gender=#{userInstance.gender} and user.username like '%${userInstance.username}%'
    </select>

    <select id="findBatchCustomer" resultType="com.ikook.mybatis.po.BatchCustomer">
        SELECT
        BATCH.*,
        CUSTOMER.username,
        CUSTOMER.acno
        FROM
        BATCH,
        CUSTOMER
        WHERE BATCH.cus_id = CUSTOMER.cus_id
    </select>

</mapper>